@import "bootstrap/variables";
@import "bootstrap/mixins";

//Moduswahl

.btn-moduswahl{
  width: 50%;
  float: left;
  background-color: $brand-danger;
  color: $body-bg;
  height:50px;
}
.btn-exoral{
  width: 25%;
  float: left;
  background-color: $brand-primary;
  color: $body-bg;
  height: 30px;
}
@media (max-width: $grid-float-breakpoint) {
.btn-moduswahl{
  width: 100%;
}
.btn-exoral{
  width: 100%;
}
}

//Fragebox - questionblog
.frage{
  border-radius: 0 25px 25px 25px;
  margin: 15px;
  padding: 10px;
  background-color: $brand-primary;
  color: $body-bg;
}
  .date{
    float: left;
  	font-style: italic;
  	font-size: 10px;
  }
  .score{
    float: right;
  	font-weight: bold;
  	font-size: 12px;
  }
  .up{
    float: right;
  	margin-top: -25px;
  	display: block;
  }
    button.small{
      margin: 0;
  	  padding: 3px;
  	  font-size: 14px;
      background-color: $brand-danger;
      border-radius: 0 0 15px 0;
    }
  .text{
    display: flex;
  	margin: 20px 45px 0 0;
  	font-size: 16px;
  }
  .answer{
    display: flex;
  	margin: 5px 50px 5px 15px;
  }
  p{
    margin: 0 5px;
  	display: block;
  	font-style: italic;
  }

.kommentare{
  background-color: $brand-primary;
	color: $body-bg;
	font-size: $font-size-base;
  border-radius: 0 20px 20px 20px;
	padding: 5px 25px;
}
.comment{
  background-color: $brand-primary;
	color: $body-bg;
	font-size: $font-size-base;
  border-radius: 0 20px 20px 20px;
	padding: 5px 25px;
	margin: 15px 15px;
	width: 40%;
	float: left;
}
.input-exoral{
  border: 1px dotted $brand-primary;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  margin:15px;
  justify-content: center;
}
  tr{
    margin: 15px 5px 0;
  }
    th,
    td{
      margin: 5px 0 0;
    }
  select{
    color: $brand-primary;
    background-color: $body-bg;
    border-radius: 15px;
    padding: 5px;
  }
    option{
      background-color: $brand-primary;
      color: $body-bg;
      border-radius: 15px;
      padding: 5px;
    }
  select:focus{
    background-color: $brand-primary;
    color: $body-bg;
  }
/*
.button .input{
  background-color: inherit;
}
.fortschritt{
  font-size: $font-size-large;
}
  a{
    color: $body-bg;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px 25px 25px 5px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    background: $brand-primary;
    font-size: $font-size-h3;
  }
  @media only screen and (max-width: 1024px) {
  	.pdf{
  		visibility: hidden;
  	}
  	.comment{
  		width: 80%;
  		justify-content: center;
  		margin: 5px;
  	}
  }
  @media only screen and (max-width: 500px){
  	.big_m{
  		width: 90%;
  	}
  	button.name{
  		width: 90%;
  	}
  }
  @media only screen and (max-width: 767px) and (min-width: 501px){
  	button.name{
  		width: 45%;
  	}
  }
*/